<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav>
  <button mat-button routerLink="" routerLinkActive="active">Home</button>
  <button mat-button routerLink="/missions" routerLinkActive="active">Missions</button>
</nav>
<router-outlet></router-outlet>
<h1>Welcome to Angular demo of spacex</h1>
<h2>101400761 - Awsaf Fida Mahmud</h2>
<h3>Labtest-2 Submission</h3>

<br>
<p> Click on Missions to get started ...</p>
